Assets/StreamingAssets/AssetBundles/
Assets/StreamingAssets/AssetBundles.meta
/Assets/Source/Generated/*.txt.meta
/Assets/Duktape/Generated/*.txt.meta
/Assets/Source/Generated/*.txt
/Assets/Duktape/Generated/*.txt

AssetBundles/
/Library/
/obj/
/Temp/
/Logs/
.vs/
/*.csproj
/*.sln
/*.userprefs

UpgradeLog.htm
*.VC.VC.opendb
*.VC.db
*.pyc
~$*.*
*.beam

node_modules
/.vscode/launch.json

