# Assets/StreamingAssets/AssetBundles/
# Assets/StreamingAssets/AssetBundles.meta
/Assets/Generated
/Assets/Generated.meta
/Assets/Source/Generated
/Assets/Source/Generated.meta
/Assets/Duktape/Generated
/Assets/Duktape/Generated.meta
/Assets/AssetStoreTools
/Assets/AssetStoreTools.meta
/Assets/Duktape/Examples/Resources
/Assets/Duktape/Examples/Resources.meta

# AssetBundles/
/Library/
/obj/
/Temp/
/Logs/
.vs/
/*.csproj
/*.sln
/*.userprefs

UpgradeLog.htm
*.VC.VC.opendb
*.VC.db
*.pyc
~$*.*
*.beam

node_modules
# /.vscode/launch.json

