# Assets/StreamingAssets/AssetBundles/
# Assets/StreamingAssets/AssetBundles.meta
/Assets/Source/Generated
/Assets/Source/Generated.meta
# /Assets/Duktape/Generated
# /Assets/Duktape/Generated.meta

# AssetBundles/
/Library/
/obj/
/Temp/
/Logs/
.vs/
/*.csproj
/*.sln
/*.userprefs

UpgradeLog.htm
*.VC.VC.opendb
*.VC.db
*.pyc
~$*.*
*.beam

node_modules
/.vscode/launch.json

